%h1.x#y Welcome to Eat What? 

/ %h1= "Welcome #{ @current_user.name }"

%input.form-input{:placeholder => 'test placeholder 1', :autofocus => true}

<input class="form-input" placeholder="placeholder 2">

%div#content
  %div.left.column
    %p Print information
  %div.right.column Partial here