<h1><%= @meal.date %></h1>
<h3>Meal Details: </h3> 
<ul>
  <li>Type: <%= @meal.type %></li>
  <li>Date: <%= @meal.date %></li>
  <li>Need to sum individual macros for the various foods within the meal and then display here.</li>
</ul>

<p>
  <%= link_to 'Delete meal', @meal, :method => 'delete', :data => { :confirm => "Are you sure you want to delete this meal?" } %>
</p>

