<h1>FAQ</h1>
<div class="voffset5"></div>
<p><h4>
  Q. Does this site have bugs?
</p></h4>
<p>
  A. It's interesting you should ask that. The world is full of bugs, and often we can encounter them in the most unexpected of places. Sometimes in the kitchen late at night. Sometimes ealry in the morning when we're in the bathroom. And then, on extremely rare occasions, perhaps, just perhaps, whilst we're browsing the interwebs navigating around certain sites. Like, you know...maybe.
</p>
<div class="voffset5"></div>
<p><h4>
  Q. Is the site free?
</p></h4>
<p>
  A. It is, but if you really do have the urge to give us some money, you can click here to send us an email with your credit card details, and we'll be happy to sort something out for you.
</p>
<div class="voffset5"></div>
<p><h4>
  Q. Was building this site easy?
</p></h4>
<p>
  Funny. Yeah, it was a total breeze. I was actully drunk and high the entire time, which surprisingly didn't seem to slow me down at all. Incredibly, no one actually noticed that my head was in the clouds the entire week. I shouldn't probably do this more often...
</p>
