<div class="row">
  <div class="col-md-12 main">
     <div class="row">
      <div class="voffset9"></div>
      <div class="col-md-12">
        <div id="huge">
          What are you eating?
        </div>
      </div>
    </div>
  </div>
</div>
