<div class="voffset5"></div>
<div class="col-md-6 col-md-offset-3">
  <h3>Your Meals</h3>
  <div class="voffset4"></div>
  <%if @meals.empty? %> 
    Oops! It doesn't look like you've entered any meals.
      <p>Click below to add a meal.</p>
  <% else %>
    <% @meals.each do |meal| %>
    <p><%= link_to("#{meal.meal_date.strftime('%e %B, %Y')} #{meal.meal_type}", meal_path(meal)) %></p> 
    <% end %>
  <% end %>  
  <div class="voffset5"></div>
  <%= link_to("Add a Meal", new_meal_path(@current_user.id)) %>
</div>
