<div class="col-md-7 col-md-offset-3">
  <h3>Food added page</h3>

  You have added <%= params[:quantity] %> <%= params[:serving_size_unit].pluralize %> of <%= params[:item_name] %> to your meal.

  <p>
    <%= link_to 'Add Food', meal_path(@meal) %>
  </p>
</div>