<div class="row">
  <div class="row voffset8">
    <div class="col-md-3 search"></div>
    <div class="col-md-6">
      <h3 id="search">Search for a food to add:</h3>  
      <%= form_tag("/meals/#{ @meal }/foods", method: "post") do %>
      <%= label_tag(:name, "Search for:") %>
      <%= text_field_tag(:name, nil, :required => true) %>
      <%= submit_tag("Search", :class => 'btn btn-success') %>
      <% end %>    
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
